.mb {
  display: block;
}
.mb-wrapper {
  display: inline-block;
  float: right;
  margin-top: 24px;
}

ul.nav > li > a {
  display: inline-block;
  position: relative;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

ul.nav > li {
  display: inline-block;
  position: relative;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin-right: 36px;
  cursor: pointer;
}

ul.nav > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-top: 8px;
  background-color: #25E98F;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.25s ease-in-out 0s;
  transform-origin: 0% 100%;
}

ul.nav > li > a:before {
    content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      margin-top: 8px;
      background-color: #25E98F;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.25s ease-in-out 0s;
      transform-origin: 0% 100%;

}
ul.nav > li > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.mb-contact {
  display: inline-block;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 15px;
  border: 3px solid #25E98F;
  box-sizing: border-box;
  box-shadow: 0px 0px 12px rgba(37,233,143, 0.48);
  border-radius: 12px;
  padding: 8px 12px;
  color: #ffffff;
  transition: all 0.2s ease-in-out 0s;
  text-decoration: none;
}

.mb-contact-wrapper {
    color: #fff;
    display: inline-block;
}

.mb-contact:hover {
  color: #000000;
  cursor: pointer;
  background-color: #25E98F;
  box-shadow: none;
}
