.projects-header-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  color: #fff;
  width: 100%;
}

.projects-header {
  padding-top: 3vh;
}

.project-section:nth-child(1) {
  margin-right: 20px;
}

.projects-header-title {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 46px;
  /* identical to box height */

  color: #ffffff;
  text-align: center;
  margin-top: 80px;
  margin-bottom: -10px;
  width: 100%;
}

.project-card-content {
    display: inline-block;
      width: 48%;
      float: left;
  }

.project-card-subtitle {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  /* identical to box height, or 34px */
  letter-spacing: -0.02em;
  margin-top: -10px;
  color: #25E98F;
}

.project-card-title {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  /* or 51px */

  letter-spacing: -0.02em;
  color: #ffffff;
}

.project-type {
  position: absolute;
  padding: 2px 4px 2px 4px;
  background: rgba(44, 209, 140, 0.37);
  border-radius: 6px;
  bottom: 0;
  right: 0;

  margin-bottom: 9px;
  margin-right: 6px;

  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  /* or 51px */

  letter-spacing: -0.02em;
  color: #8FE9B3;
}

.project-image-wrapper {
    position: relative;
}
.project-image {
    max-width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
      border-radius: 8px;
      transition: all 0.3s ease-in-out 0s;
}
.project-image:hover {
  box-shadow: 0px 0px 12px rgba(255,255,255, 0.48);
}

